@use "../../styles/variables" as v;

.icon-animate {
  display: inline-block;
  animation: v.$transicao-fadeIn;
}

.menu-superior {
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 45px);
  height: 60px;
  top: 15px;
  left: 15px;
  right: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background: #ffffff;
  border: solid 2px #c7c7c7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
  animation: v.$transicao-fadeIn;

  .menu-toggle {
    display: flex;
    background: transparent;
    align-items: center;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 15px;

    i {
      color: #333;
      line-height: 0;
    }
  }

  .where-am-i {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }

  .menu-direita {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;

    .notific {
      
      i {
        font-size: 28px;
        display: block;
        background: transparent;
        color: #333;
        line-height: 0;
        transition: v.$transicao-rapida;

        &:hover {
          color: v.$cor-primaria;
          transition: v.$transicao-rapida;
        }

      }
    }

    .upgrade-button {
      display: flex;
      align-items: center;
      height: 40px;
      width: 170px;
      font-size: 20px;
      border: solid 2px #333;
      border-radius: 10px;
      color: #333;
      transition: v.$transicao-rapida;

      &:hover {
        background-color: v.$cor-primaria;
        border: solid 2px v.$cor-primaria;
        color: #ffffff;
        transition: v.$transicao-rapida;
      }

    }

    .user {
      display: flex;
      width: 40px;
      height: 40px;
      border: solid 3px #333;
      border-radius: 50%;
      cursor: pointer;
      color: v.$cor-primaria;
      background: transparent;
      transition: v.$transicao-rapida;

      &:hover {
        border: solid 3px v.$cor-primaria;
        color: #ffffff;
        background-color: v.$cor-primaria;
        transition: v.$transicao-rapida;
      }
    }

    button {
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 15px;
  width: 290px;
  height: 290px;
  background: #ffffff;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  border: solid 2px #c7c7c7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
  pointer-events: none;
  opacity: 0;

  ul {
    list-style: none;
    padding: 15px;

    li {
      display: flex;
      background: transparent;
      padding: 9px 0;
      align-items: center;
      align-content: center;
      transition: v.$transicao-rapida;

      &:hover {
        transform: translateY(-2px);
      }

      a {
        display: flex;
        line-height: 0.9;
        font-size: 24px;
        text-decoration: none;
        color: #333;
        background: transparent;
        transition: v.$transicao-rapida;
        gap: 25px;

        i {
          margin-left: 15px;
          background: transparent;
          color: #333;
          transition: v.$transicao-rapida;
        }
      }

      &:hover {
        cursor: pointer;
        transition: v.$transicao-rapida;

        a,
        i {
          color: v.$cor-primaria;
          transition: v.$transicao-rapida;
        }
      }
    }
  }

  &.open {
    top: 90px;
    opacity: 1;
    pointer-events: auto;
  }
}

.notificacoes {
  display: flex;
  position: fixed;
  align-items: center;
  height: 200px;
  width: 250px;
  background-color: #ffffff;
  top: 15px;
  right: 12px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border: solid 2px #c7c7c7;
  animation: v.$transicao-fadeIn;
  opacity: 0;

  button {
    position: fixed;
    top: 15px;
    left: 210px;
    border: none;
    background-color: transparent;
  }


  &:open {
    top: 90px;
    opacity: 1;
    pointer-events: auto;
  }
}

.conteudo-principal {
  padding-top: 90px;
  width: 100%;
}
