@use "../../styles/variables" as v;

.icon-animate {
  display: inline-block;
  animation: v.$transicao-fadeIn;
}

.menu-superior {
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 45px);
  height: 60px;
  top: 15px;
  left: 15px;
  right: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background: #ffffff;
  border: v.$glass-border;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
  animation: v.$transicao-fadeIn;

  .menu-toggle {
    display: flex;
    background: transparent;
    align-items: center;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 15px; 

    i {
      color: #333;
      line-height: 0;
    }
  }

  .menu-direita {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;

    .upgrade-button {
      display: flex;
      height: 40px;
      width: 170px;
      font-size: 20px;
      background-color: v.$cor-primaria;
      border-radius: 10px;
      color: #ffffff;
      animation: fadeIn 0.4s ease-in-out forwards;
    }

    .user {
      display: flex;
      width: 45px;
      height: 45px;
      border: solid 3px v.$cor-primaria;
      border-radius: 50%;
      cursor: pointer;
      color: v.$cor-primaria;
      background: transparent;
      transition: v.$transicao-rapida;
      animation: fadeIn 0.4s ease-in-out forwards;

      &:hover {
        color: #ffffff;
        background-color: v.$cor-primaria;
        transition: v.$transicao-rapida;
      }

    }

    button {
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;

      i {
        display: block;
        background: transparent;
        color: #333;
        line-height: 0;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 15px;
  width: 290px;
  height: 290px;
  background: #ffffff;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  border: v.$glass-border;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
  pointer-events: none;
  opacity: 0;

  ul {
    list-style: none;
    padding: 15px;

    li {
      display: flex;
      background: transparent;
      padding: 9px 0;
      align-items: center;
      align-content: center;
      transition: v.$transicao-rapida;

      &:hover {
        transform: translateY(-2px);
      }

      a {
        display: flex;
        line-height: 0.9;
        font-size: 24px;
        text-decoration: none;
        color: #333;
        background: transparent;
        transition: v.$transicao-rapida;
        gap: 25px;

        i {
          margin-left: 15px;
          background: transparent;
          color: #333;
          transition: v.$transicao-rapida;
        }
      }

      &:hover {
        cursor: pointer;
        transition: v.$transicao-rapida;

        a,
        i {
          color: v.$cor-primaria;
          transition: v.$transicao-rapida;
        }
      }
    }
  }

  &.open {
    top: 90px;
    opacity: 1;
    pointer-events: auto;
  }
}

.conteudo-principal {
  padding-top: 90px;
  width: 100%;
}