@use "../../styles/variables" as v;

.icon-animate {
  display: inline-block;
  animation: v.$transicao-fadeIn;
}

.menu-superior {
  * {
    font-family: v.$jakarta;
  }

  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 45px);
  height: 60px;
  top: 15px;
  left: 15px;
  right: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background: #ffffff;
  border: solid 2px #c7c7c7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
  animation: v.$transicao-fadeIn;

  .menu-toggle {
    display: flex;
    background: transparent;
    align-items: center;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 30px;
    padding: 0;

    .menu-icon {
      color: #333;
      margin-top: 2px;
      line-height: 0;
      position: absolute;
      transition: v.$transicao-rapida;

      &:hover {
        transition: v.$transicao-rapida;
        transform: scale(0.9);
      }
    }
  }

  .where-am-i {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 45px;
    font-weight: 400;
  }

  .menu-direita {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;

    .notific {
      height: 40px;
      width: 40px;
      border: solid 2px #c7c7c7;
      border-radius: 50%;
      transition: v.$transicao-rapida;
      background-color: v.$cor-fundo;

      &:hover {
        background-color: v.$cor-primaria;
        border: solid 2px v.$cor-primaria;
        transition: v.$transicao-rapida;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.236);
      }

      &:hover i {
        color: #ffffff;
      }

      i {
        font-size: 20px;
        display: block;
        background: transparent;
        color: #333;
        line-height: 0;
        transition: v.$transicao-rapida;
      }
    }

    .upgrade-button {
      display: flex;
      align-items: center;
      height: 40px;
      width: 170px;
      font-size: 20px;
      font-weight: 500;
      border: solid 2px #c7c7c7;
      border-radius: 10px;
      color: #333;
      transition: v.$transicao-rapida;
      background-color: v.$cor-fundo;

      &:hover {
        background-color: v.$cor-primaria;
        border: solid 2px v.$cor-primaria;
        color: #ffffff;
        transition: v.$transicao-rapida;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.236);
      }
    }

    .user {
      display: flex;
      color: #333;
      width: 40px;
      height: 40px;
      border: solid 2px #c7c7c7;
      border-radius: 50%;
      cursor: pointer;
      color: #333;
      background-color: v.$cor-fundo;
      transition: v.$transicao-rapida;

      &:hover {
        border: solid 3px v.$cor-primaria;
        color: #ffffff;
        background-color: v.$cor-primaria;
        transition: v.$transicao-rapida;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.236);
      }

      i {
        font-size: 20px;
      }
    }

    button {
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 15px;
  width: 290px;
  height: 290px;
  background: #ffffff;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  border: solid 2px #c7c7c7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
  pointer-events: none;
  opacity: 0;

  ul {
    list-style: none;
    padding: 15px;

    li {
      display: flex;
      background: transparent;
      padding: 9px 0;
      align-items: center;
      align-content: center;
      transition: v.$transicao-rapida;

      &:hover {
        transform: translateY(-2px);
      }

      a {
        display: flex;
        line-height: 0.9;
        font-size: 24px;
        text-decoration: none;
        color: #333;
        background: transparent;
        transition: v.$transicao-rapida;
        gap: 25px;

        i {
          margin-left: 15px;
          background: transparent;
          color: #333;
          transition: v.$transicao-rapida;
        }
      }

      &:hover {
        cursor: pointer;
        transition: v.$transicao-rapida;

        a,
        i {
          color: v.$cor-primaria;
          transition: v.$transicao-rapida;
        }
      }
    }
  }

  &.open {
    top: 90px;
    opacity: 1;
    pointer-events: auto;
  }
}

.notificacoes {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30px;
  right: 12px;
  height: 200px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  border: solid 2px #c7c7c7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  .notific-ttl {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 400;
    font-family: v.$jakarta;
  }

  .fechar-aba {
    display: flex;
    line-height: 0;
    font-size: 18px;
    position: absolute;
    top: 18px;
    left: 205px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #333;
    transition: v.$transicao-rapida;

    &:active {
      transform: scale(0.9);
      transition: v.$transicao-rapida;
    }

    .notific-lista {
      display: flex;
      font-family: v.$jakarta;
    }
  }

  &.open {
    top: 90px;
    opacity: 1;
    pointer-events: auto;
  }
}

.conteudo-principal {
  padding-top: 90px;
  width: 100%;
}
