@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

$cor-primaria: #08af50;
$cor-secundaria: #00ff85;
$cor-fundo: #f4d9d9;
$fonte-principal: 'Plus Jakarta Sans', sans-serif;