@use "../../styles/variables" as v;

.body {
  background-color: v.$cor-fundo;
  min-height: 100vh;
  width: 100%;
}

.container-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 605px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 60px;

  .criar-database {
    display: flex;
    height: 370px;
    width: 370px;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    background-color: v.$cor-fundo;
    border: solid 2px #c7c7c7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: v.$transicao-rapida;
    animation: v.$transicao-fadeIn;

    &:hover {
      transition: v.$transicao-rapida;
    }

    i {
      color: #333;
      font-size: 40px;
      transition: v.$transicao-rapida;

      &:hover {
        cursor: pointer;
        color: v.$cor-primaria;
        transition: v.$transicao-rapida;
      }
    }

    .card-criacao {
      position: relative;
      display: flex;
      flex-direction: column;
      font-family: v.$jakarta;
      animation: v.$transicao-fadeIn;
      gap: 20px;

      .card-ttl {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        padding-bottom: 30px;
        transition: v.$transicao-rapida;
      }

      .input-nome {
        display: flex;
        margin-bottom: 20px;
        border: none;
        border-bottom: 3px solid #333;
        outline: none;
        padding: 10px;
        text-align: center;
        transition: v.$transicao-rapida;
        margin-bottom: 30px;

        &::placeholder {
          opacity: 1;
          transition: v.$transicao-rapida;
        }

        &:focus::placeholder {
          opacity: 0;
          transition: v.$transicao-rapida;
        }
      }

      .mensagem-erro {
        position: absolute;
        display: flex;
        font-size: 15px;
        bottom: 70px;
        width: 100%;
        justify-content: center;
        color: red;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .acoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        gap: 30px;

        .cancelar i {
          display: flex;
          font-size: 45px;
          line-height: 0;

          &:hover {
            color: red;
          }
        }

        .confirmar {
          display: flex;
          transition: v.$transicao-rapida;

          i {
            font-size: 45px;
            line-height: 0;
          }
        }
      }
    }

    .card-sucesso {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation: v.$transicao-fadeIn;

      h2 {
        font-size: 40px;
        display: flex;
        color: #333;
        margin-bottom: 3rem;
      }

      .botoes-container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem; 
        justify-content: center;

        button {
          border: none;
          background-color: transparent;
          color: #333;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          
          i {
            font-size: 35px;
          }

        }

        .excluir:hover i{
          color: #dc2e2e;
          transform: scale(0.9);
        }

        .acessar:hover i {
          color: v.$cor-primaria;
          transform: scale(0.9);
        }

        .link-convite:hover i {
          color: #0091c1;
          transform: scale(0.9);
        }
      }
    }
  }
}

.modal-exclusao-container {
  position: absolute; // Relativo ao .criar-database
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; // Garante que você veja o fundo branco
  z-index: 1000;           // Garante que fique por cima de tudo
  padding: 20px;
  border-radius: 13px;
  border: 1px solid #ccc;  // Para você ver o contorno dele na tela
  
  h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 20px;
  }
  
  .acoes-exclusao {
    display: flex;
    gap: 15px;
    
    button {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}