@use "../../styles/variables" as v;

.body {
  background-color: v.$cor-fundo;
  min-height: 100vh;
  width: 100%;
}

.container-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 605px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 60px;

  .criar-database {
    display: flex;
    height: 370px;
    width: 370px;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    background-color: v.$cor-fundo;
    border: v.$glass-border;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: v.$transicao-rapida;
    animation: v.$transicao-fadeIn;

      &:hover {
        transition: v.$transicao-rapida;
      }

    i {
      color: #333;
      font-size: 40px;
      transition: v.$transicao-rapida;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.9);
        transition: v.$transicao-rapida;
      }

    }

  }
}
